@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=IBM+Plex+Sans+Thai:wght@300&family=Noto+Sans+Thai:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans Thai', sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  margin: 0;
}

.container {
  width: 100%;
  padding: 1vh 0;
}

.header_01,
.body_01,
.footer_01 {
  background-image: url('./images/webp/flower_01.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 98vh;
  padding-bottom: 1vh;
  display: flex;
}

.sub_header_01 {
  width: 30%;
  height: 98vh;
  background-color: #ffffff30;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3,
span,
p {
  color: aliceblue;
}

.sub_header_01 p {
  position: absolute;
  bottom: 1vh;
}
.sub_header_01 h1 {
  text-align: center;
  font-size: 2em;
}
.sub_header_01 h2 {
  text-align: center;
  font-size: 1em;
}
.profile_01 {
  width: 15em;
  border-radius: 150px;
  margin: 30px;
}
.sub_header_01 section{
  width: 90%;
}
.schedule_{
  align-items: center;
  gap: 20px;
  display: flex;
  margin: 35px;
}
.schedule_ h1 {
  text-align : start;
  font-size: 20px;
}
.icon_schd {
  width: 60px ;
}
.sub_header_02 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.sub_header_02 h1,
.sub_header_02 h2 {
  font-weight: lighter;
  text-align: end;
  font-size: 3.7em;
}

.sub_header_02 h2 {
  font-size: 3em;
}

.fullname {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 4em 3em ;
}

.location_01 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------------------------------------------------- BODY ---------------------------------------------------------- */
.body_01 {
  background-image: url('./images/webp/wat_01.webp') !important;
  height: 100% !important;
  margin-top: 1vh !important;
}

.supported {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 2em 3em;
}

.support h1 {
  font-size: 10em;
  font-weight: bold;
  color: #ffffff50;
  z-index: 99;
}

.support h2 {
  font-size: 1.7em;
}

.support p {
  font-size: 1.2em;
}

.qrcode {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 2em;
}

.qrcode img {
  width: 20%;
}

/* ---------------------------------------------------------------------------------------------------------------- */

.footer_01 {
  background-image: url('./images/webp/profile_02.webp') !important;
  background-size: cover;
  margin-top: 1vh !important;
  flex-direction: column;
}

/* ---------------------------------------------------------------------------------------------------------------- */

.discourse {
  font-size: 140%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.discourse p {
  color: #000000a4 !important;
}

.discourse hr {
  border: none;
  border-top: 2px solid #ffffff;
  margin: 1em;
  width: 60%;
}

/* ---------------------------------------------------------------------------------------------------------------- */
.map_Nphomp {
  height: 75%;
  display: flex;
  text-align: center;
  align-items: center;
}

.map_wat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.map_wat p {
  font-size:150% ;
  color:#ffffffab;
}
.map_wat iframe {
  width: 60%;
  height: 75%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  border: rgba(0, 0, 0, 0);
}
.map_wat iframe:focus {
  border: rgba(0, 0, 0, 0);
}

.phompay {
  position: fixed;
  right: 15px;
  top : 50%;
  width: 8em;
}
.btn_01 {
  display: flex;
  width: 100%;
  gap: 0.5em;
  color: #ffffff;
  align-items: center;
  cursor: pointer;
}
.btn_01 img {
  padding: 0;
}
/* .phompay {
  flex-direction: column;
  gap: 4em;
} */

.phompay img {
  background-color: #ffffff;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  transition: 0.5s ;
}
.phompay img:hover {
  scale: 1.1;
}
.phompay button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: transparent;
}
.phompay button:hover {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: transparent;
}

/* .phompay p {
  font-weight: bold;
  font-size: 2em;
  color: #ffffffb0;
} */

/* ---------------------------------------------------------------------------------------------------------------- */
.flexbox-a {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #e3edf7;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}
.btn img {
  transition: transform 0.5s;
}
.btn:hover img {
  transform: scale(0.9);
}
.footer_01 p1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #ffffff;
  font-size: 0.5em;
}

/* ---------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------- RESSOLUTION ------------------------------------------------ */
/* ------------------------ max-width 1000 */
@media (max-width: 1080px) {

  /* , .body_01, .footer_01 */
  .header_01 {
    background-image: url('./images/webp/flower_01_1.webp') !important;
    display: flex;
    flex-direction: column-reverse;
  }

  .sub_header_01 {
    margin: auto;
    padding: 10px;
    width: 90%;
    height: 60%;
  }

  .sub_header_01 p {
    position: absolute;
    bottom: 2%;
  }

  .profile_01 {
    width: 17%;
    border-radius: 50%;
    position: absolute;
    top: 8%;
    left: 4%;
  }

  .scheduled {
    display: flex;
    gap: 1em;
    margin: 30px;
  }

  .sub_header_02 {
    height: 50%;
    justify-content: space-between;
    width: 100%;
  }
  .fullname {
    margin: 2em 2em;
  }

  .sub_header_02 h1 {
    font-weight: lighter;
    font-size: 2.2em;
  }

  .sub_header_02 h2 {
    font-size: 1.5em;
  }

  /* -------------------------------------------------------- BODY ---------------------------------- */
  .supported {
    height: 100%;
    padding: 2em 3em;
  }

  .support h1 {
    font-size: 8em;
  }

  .qrcode {
    width: 50%;
    margin: 1em;
  }

  .qrcode img {
    width: 23%;
  }

  /* ----------------------------------------------- FOOTER ------------------------------------------ */
  .footer_01 {
    height: 100vh;
  }

  .map_Nphomp {
    width: 80%;
    margin: auto;
  }
  .map_wat iframe {
    width: 100%;
  }

  .phompay p {
    font-size: 1.5em;
  }
  .phompay {
    position: fixed;
    right: 15px;
    top : 45%;
    width: 8em;
  }
  .phompay p {
    font-size: 100%;
  }
}
/* --------------------------------------------- Mobile (max-width: 500px) ----------------------------------------------------- */
@media (max-width: 500px){
  * {
    letter-spacing: 1.2px;
  }
  .header_01 {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

/******* safari *******************************************************************************/
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .header_01 {
        height: 100%;
      }
    }
  }
/******************************************************************************************/
  .sub_header_01{
    display: flex;
    background-color: rgb(74,74,74,.5);
    box-shadow: 10px 10px 0 0 rgba(223, 223, 223, 0.5) ;
    margin: 10px auto ;
    width: 90%;
    height:60%;
    padding-top: 20px;
  }
  .sub_header_01 p {
    font-size: 70%;
    bottom: 10px;
  }
  .sub_header_01 h1 {
    font-size: 130%;
  }
  .sub_header_01 h2 {
    font-size: 80%;
  }
  .profile_01 {
    position: absolute;
    width: 100px;
    top:14%;
    left: 7%;
    margin: 0px;
  }
  .scheduled {
    margin: 3%;
  }
  .half img {
    width: 0.5em;
  }
  .time, .event {
    display: flex;
    flex-direction: column;
    gap: 17%;
    margin-top: 10%;
  }
  .fullname {
    margin: 0% 5%;
  }
  .sub_header_02 {
    justify-content: space-between;
    height: 40%;
    width: 100%;
  }

  .sub_header_02 h1 {
    font-size: 99%;
  }
  .sub_header_02 h2 {
    font-size: 70%;
  }
  .namess {
    margin-top: -15px;
    margin-bottom: 25px ;
  }

  .location_01 h1 {
    font-size: 130%;
  }
  .location_01 h2{
    font-size: 90%;
  }
  
  .fullname h1 {
    text-align: end;
    font-size: 150%;
    margin: 0.8em 0;
  }

  .location_01 img {
    width: 60%;
    }
  /* -------------------------------------------------------- BODY ---------------------------------- */
  .body_01 {
    background-position: center left;
  }
  .supported {
    height: 100%;
    padding: 1em 1em;
    width: 70%;
  }
  .support h1 {
    font-size: 300%;
  }
  .support h2{
    font-size: 90%;
  }
  .support p{
    font-size: 63%;
  }
  .qrcode {
    width: 30%;
    margin: 2% 2% 0 0;
  }
  .qrcode img {
    width: 70%;
  }
  /* ----------------------------------------------- FOOTER ------------------------------------------ */
  .footer_01 {
    height: 100%;
  }
  .map_Nphomp {
    height: 30em;
    flex-direction: column;
  }
  .discourse p{
    font-size: 65%;
  }
  .map_wat{
    width: 100%;
    gap: 2%;
  }
  .phompay {
    width: 6.5em;
    right: 5px;    
    top: 40%;
  }
  .map_wat iframe {
    width: 100%;
    border:none;
  }
  .map_wat p {
    font-size:70% ;
    color:#ffffffab;
  }
  .phompay p {
    font-size: 80%;
    font-weight: lighter;
  }
  .phompay img:hover {
    scale: 1;
  }

  .schedule_ h1 {
    text-align : start;
    font-size: 15px;
  }
  .icon_schd {
    width: 40px ;
  }
}